<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need to start your Thai adventures!</h2>
                <hr class="light">
                <p class="text-faded">Are you new to the Thai language? Have you tried but failed with other programs? Our research-backed, natural language learning approach is exactly what you need!</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
